<div class="container">
    <body>
        <app-navbar></app-navbar>
        <p></p>
        <div class="row">
            <div class="column">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate a veritatis alias, blanditiis minima molestiae dolor praesentium voluptate id quae aliquid adipisci eveniet inventore eius odit officiis accusantium, at facere.</div>
            <div class="column">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus porro at dolorem repellendus ducimus magnam reprehenderit ratione hic explicabo suscipit, temporibus architecto ea, in omnis obcaecati pariatur dignissimos aperiam!</div>
        </div>
    </body>
</div>