/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Monterchi";
    src: local("Monterchi"), url(./assets/fonts/monterchi-book.otf) format("truetype");
}

* {
    font-family:'Monterchi', Courier, monospace;
    color: #60483a;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}